<!DOCTYPE html>
<html>
 <head>
 <title>Flask Template</title>
 </head>
 <body>
 <br><br>
 <form action="/result" method="POST">
 <p class="ex1">どの音声を分析しますか:<br>
 <div class="select-container">
 <select name="onsei_data" class="select" style="text-align: -webkit-center;">
 <option value="konnichiha">こんにちは</option>
 <option value="ohayougozaimasu">おはようございます</option>
 <option value="sayounara">さようなら</option>
 </select></p>
 </div>

 <div>
 <input type="submit" value="送る" class="btn-submit"></p></div>
 </form>

 </body>
</html>